<h1>Time to get you some Fooooood!</h1>

<table id="checkOutTable">
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Action</th>
  </tr>
  <tr id="noChecksMessage">
  </tr>
</table>
  <h1 id="noItems">You have no items, please add item to your cart! <a class="cta green" href="menu/all">Add item</a></h1>

<div>
  <span style="font-size: 15px">Total Price:</span>$<span style="font-size: 15px" id="totalPrice"></span> 
</div>

<a id="submitOrder" onClick="app.submitOrder()" class="cta green">Place Order</a>
