<h1>Pizza Delivery</h1>
<h2>Made Simple</h2>

<div class="blurb">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum facilis inventore quaerat quidem voluptatibus nesciunt, sit ea sunt alias suscipit, illum sapiente ipsum eos deleniti tempora, corporis libero repellat maiores. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus a cum, eius aut, provident magnam officiis mollitia voluptate adipisci consequuntur natus, nobis odit quasi perferendis omnis reprehenderit. Pariatur atque, adipisci!.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum facilis inventore quaerat quidem voluptatibus nesciunt, sit ea sunt alias suscipit, illum sapiente ipsum eos deleniti tempora, corporis libero repellat maiores. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus a cum, eius aut, provident magnam officiis mollitia voluptate adipisci consequuntur natus, nobis odit quasi perferendis omnis reprehenderit. Pariatur atque, adipisci!.</div>

<div class="ctaWrapper">
  <a class="cta green" href="account/create">Get Started</a>
  <a class="cta blue" href="session/create">Login</a>
</div>
