<h1>Dashboard</h1>
<div id="checkOutButton" style="float:left;margin-bottom: 10px">
	<a class="cta green" href="menu/checkout">Check Out</a>
</div>
<div style="float:right">
	<b style="font-size: 20px;">Cart:</b>&nbsp;
	<span id="itemsInCart" style="font-size: 25px"></span>
</div>
<hr />

<table id="checksListTable">
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Action</th>
  </tr>
  <tr id="noChecksMessage">
    <td colspan="5">You have no items, please create an item!</td>
  </tr>

</table>

<div id="createCheckCTA" class="ctaWrapper">
  <a class="cta green" href="menu/create">Create an Item</a>
</div>
